.product{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 30px;
}

@media (max-width: 800px){
    .product{
        grid-template-columns: 1fr;
    }
    .product-gallery{
        grid-row: 2;
    }
}

.product-gallery{
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 20px;
}

@media (max-width: 800px){
    .product-gallery{
        grid-template-columns: 1fr;
    }
    .product-gallery-list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 20px;
    }
}

.product-gallery-list img {
    margin-bottom: 20px;

}

.product-details small{
    display: block;
    color: rgba(0, 0, 0, .5);
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product-details h1 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 40px;
}

.product-details h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.product-details .product-price {
    margin-bottom: 20px;
    font-weight: bold;
}

@media (max-width: 800px){
    .product-details h1 {
        margin-bottom: 20px;
    }
}

.product-details .button {
    background: #000;
    color: #fff;
    padding: 12px 15px;
    min-width: 200px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    margin-bottom: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.product-details .button::after {
    content: '';
    display: block;
    background: url(../img/icons/add.svg) no-repeat center center;
    width: 16px;
    height: 16px;
}
.product-details .button:hover::after{
    transform: rotate(180deg);
}

.product-details .button.disabled {
    opacity: .5;
    cursor: initial;
}

.product-details .variations tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.product-details select{
    font-size: 1rem;
}

.product-details .reset_variations {
    display: none !important;

}

.product-details stock {
    margin-bottom: 10px;
}